body {
  margin: 0%;
  background-color: #F5FBEF;
}

header {
  background-color: #1B2021;
  padding: 20px 10px;
  color: gray;
  text-align: left;
  font-weight: bold;
  position: fixed;
  top: 15px;
  width: 98%;
  transition: 0.2s;
  /* Add a transition effect (when scrolling - and font size is decreased) */
  z-index: 5;
  box-shadow: -1px 4px 8px rgb(107, 104, 98);
}
/*Export font family*/
@font-face {
  font-family: get_schwifty;
  src: url(fuente/get_schwifty.ttf);
}

h2 {
  font-family: get_schwifty;
  margin-right: 1.5rem;
  font-size: 4rem;
  color: #119DA4;
  /*rgb(44, 230, 44);*/
  animation-direction: alternate;
  animation-duration: 3s;
  animation-name: slidein;
  position: absolute;
  left: 6rem;
  top: 10rem;
}

/*-----------STYLE SEARCH---------------*/
.navSearch {
  margin-top: 8px;
  margin-right: 16px;
  font-size: 5px;
  border-radius: 0px;
  border: none;
  background-color: papayawhip;
  cursor: pointer;
  transition: 0.5s;
}

.btn {
  border: none;
  background-color: #eee;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background: inherit;
  color: #FFFD82;
}

#search {
  float: right;
  background-color: #AAF683;
}

#formulario {
  float: right;
}

/*-----------STYLE CONTAINERS---------------*/
#contenedor,
.gifi {
  font-family: 'Tajawal', sans-serif;
  font-size: 20px;
  color: rgb(18, 26, 99);
  position: relative;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background-color: transparent;
  top: 16rem;
}

.contenedorSearch {
  font-family: 'Tajawal', sans-serif;
  font-size: 20px;
  color: rgb(18, 26, 99);
  position: relative;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background-color: transparent;
  top: 15rem;
}

.myP {
  margin-top: 25rem;
  position: relative;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background-color: transparent;
}

.myPDom {
  font-size: 4rem;
  animation-name: colorLetra;
  animation-duration: 3s;
}

div.flex-conteiner {
  font-family: "Annie Use Your Telescope";
  font-size: 38px;
  color: rgb(18, 26, 99);
  position: relative;
  text-align: center;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background-color: transparent;
}

div.navSpecies {
  display: flex;
  position: relative;
  top: 60px;
  height: 100px;
  width: 90%;
  background-color: transparent;
  justify-content: center;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  overflow-x: auto;
}

/*-----------STYLE CARD CHARACTERS---------------*/
.characters {
  padding: 0.5rem 1rem 0 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.characterSearch {
  padding: 0.5rem 1rem 0 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5px;
}

/*-----------BAR NAVEGATION WITH ICONS---------------*/
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: transparent;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #49BEAA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #49BEAA;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: #AAF683;
}

.home {
  color: #119DA4;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #AAF683;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: #49BEAA;
  /*LETRA NAVEGACION*/
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

/*-----------BUTTON START---------------*/
.modal {
  display: none;
  position: fija;
  padding: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb (0, 0, 0);
  background-color: rgba (0, 0, 0, 0.5);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(44, 230, 44);
  ;
  color: #119DA4;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}

/*-----------COLOR ANIMATION AND SLIDE---------------*/
@keyframes colorLetra {
  2% {
    color: #C4CAD0
  }

  25% {
    color: #878C8F
  }

  50% {
    color: #A4969B
  }

  75% {
    color: #655560
  }

  100% {
    color: black
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*---------------SHOW SIZE PHONE------------------------*/
@media (max-width: 700px) {
  h2 {
    margin-right: 2rem;
    font-size: 1.6rem;
    color: #119DA4;
    /*rgb(44, 230, 44);*/
    animation-direction: alternate;
    position: absolute;
    left: 3rem;
    top: 10rem;
  }

  .btn {
    padding: 5px 10px;
    font-size: 10px;
    margin-top: 0.5rem;
    margin-right: 0.1rem;
  }

  header {
    padding: 10px 5px;
    color: gray;
    text-align: left;
    position: fixed;
    top: 9px;
    width: 98%;
  }

  .navbar a {
    float: left;
    font-size: 14px;
    text-align: center;
    padding: 4px 5px;
  }

  .subnav .subnavbtn {
    font-size: 16px;
    padding: 3px 5px;
    margin: 0;
  }

  .myP {
    margin-top: 15rem;
  }

  .myPDom {
    font-size: 27px;
    animation-name: colorLetra;
    animation-duration: 3s;
  }
}